footer {
  width: 85%;
  margin: auto;
}

.home_footer {
  width: 100%;
  background-color: #171e27;
  height: 100vh;
  padding: 40px 0px 70px 0px;
}

.footer_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.footer_logo > p {
  color: white;
  font-size: 28px;
  font-weight: 400;
}

.footer_logo > p > span {
  font-weight: 500;
}

.footer_information {
  display: flex;
  align-items: center;
  gap: 100px;
  color: white;
}

.footer_information > div > p:nth-child(2) {
  margin-top: 20px;
}

.footer_information > div > p {
  color: gray;
}

.footer_googleplay > img {
  height: 70px;
  object-fit: contain;
}

.footer_finduson {
  margin-top: 30px;
  color: white;
}

.footer_icons {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer_dis {
  margin-top: 30px;
  color: white;
  font-size: 14px;
}
